.list {
	font-size: 20px;
	max-width: 1024px;
	margin: 10px auto 50px auto;
}
.list .selected {
	/*
    background-color: #0066CC;
    color: #eee;
    */
    background-color: yellow;
}

.list table {
	line-height: 120%;
	margin: 7px 0;
}

.list .order_number, .list .order_status, .list .order_type, .list .eat_where {
	font-size: 30px;
	font-weight: bold;
	width: 10%;
	text-align: center;
}

.list .list-group-item {
	padding: 2px 5px;
}

.list .last_tail {
	width: 10%;
	text-align: right;
}

.list .customer_name {
	font-size: 20px;
	text-align: right;
}

.list .item_actions td {
	padding-top: 10px;
}
